body {
  padding: 20px;
}

main {
  display: flex;
  gap: 20px;
}

img.rounded-image {
  border-radius: 12px;
  width: 250px;
}

.sidebar {
  float: left;
  height: 100%;
}

.links {
  margin-top: 20px;
  width: 250px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 12px;
}

ul.links-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol.tech-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
}

a.link-item {
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

a.link-item:hover {
  background-color: #ccc;
  border-radius: 12px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.project-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.project-item h3 {
  font-size: 18px;
  font-weight: bold;
}

.project-item p {
  font-size: 16px;
}

.project-item a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.project-item a:hover {
  text-decoration: underline;
}

.project-item img {
  border-radius: 12px;
  width: 100%;
}

.project-item img:hover {
  box-shadow: 0 0 10px #ccc;
}